COMPOSE_PROJECT_NAME=ecommerce-mvp

AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_dev_password
AUTH_DB_NAME=auth_db

CUSTOMER_DB_USER=customer_user
CUSTOMER_DB_PASSWORD=customer_dev_password
CUSTOMER_DB_NAME=customer_db

ORDER_DB_USER=order_user
ORDER_DB_PASSWORD=order_dev_password
ORDER_DB_NAME=order_db

PRODUCT_MONGO_USER=product_admin
PRODUCT_MONGO_PASSWORD=product_dev_password
PRODUCT_MONGO_DATABASE=product_db

SHIPMENT_MONGO_USER=shipment_admin
SHIPMENT_MONGO_PASSWORD=shipment_dev_password
SHIPMENT_MONGO_DATABASE=shipment_db

REDIS_PASSWORD=redis_dev_password
